body{
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #dfdfdf;
    margin: 0;
    padding: 1px 0 0 0;
}

#space {
    background-color: yellow;
    margin: 0;
    padding-top: 20px;
}

#navbar_func {
    padding: 5px 0 5px 0;
}

#navbar_func button {
    margin-left: 10px;
}

main {
    text-align: center;
}
.flex {
    display: flex;
}

.yellow {
    background-color: yellow;
    padding: 840px 400px 0px 0;
}

.blue {
    background-color: blue;
    padding: 0 0px 0px 0;
    margin: 0%;
}

.red {
    background-color: red;
    padding: 420px 0 0 0;
    margin: 0;
}

.black {
    background-color: black;
    padding: 0px 1550px 420px 0;
}
